body
{
color: #666;
font-family: Roboto,Arial,sans-serif;
font-size: 14px;
margin: 0;
padding: 0;	margin: 0;
}

#page
{
}

#header
{
	border-bottom: 1px solid #CCC;
	position: relative;
	z-index: 100;
	 padding: 35px 0 45px;
}
#header-container
{
	margin: 0 auto;
	padding: 0 10px;
	width: 940px;	
}
#content
{
	margin: 0 auto;
	padding: 20px;
	width: 940px;	
}

#sidebar
{
	padding: 20px 20px 20px 0;
}

#footer
{
	margin: 0 auto;
	padding: 10px;
	font-size: 0.8em;
	text-align: center;
	width: 940px;	
}
div.line {
    background: -moz-linear-gradient(center top , #ACBC00 0pt, #ACBC00 50%, #BDDE00 50%, #BDDE00 100%) repeat scroll 0 0 transparent;
    clear: both;
    height: 2px;
    margin-top: 45px;
    position: relative;
    z-index: 11;
}
#logo
{
	font-size: 200%;
	float: left;
}

#mainmenu
{
	background:white url(bg.gif) repeat-x left top;
}

#mainmenu ul
{
	padding:6px 20px 5px 20px;
	margin:0px;
}

#mainmenu ul li
{
	display: inline;
}

#mainmenu ul li a
{
	color:#ffffff;
	background-color:transparent;
	font-size:12px;
	font-weight:bold;
	text-decoration:none;
	padding:5px 8px;
}

#mainmenu ul li a:hover, #mainmenu ul li.active a
{
	color: #6399cd;
	background-color:#EFF4FA;
	text-decoration:none;
}

div.flash-error, div.flash-notice, div.flash-success
{
	padding:.8em;
	margin-bottom:1em;
	border:2px solid #ddd;
}

div.flash-error
{
	background:#FBE3E4;
	color:#8a1f11;
	border-color:#FBC2C4;
}

div.flash-notice
{
	background:#FFF6BF;
	color:#514721;
	border-color:#FFD324;
}

div.flash-success
{
	background:#E6EFC2;
	color:#264409;
	border-color:#C6D880;
}

div.flash-error a
{
	color:#8a1f11;
}

div.flash-notice a
{
	color:#514721;
}

div.flash-success a
{
	color:#264409;
}

div.form .rememberMe label
{
	display: inline;
}

div.view
{
	padding: 10px;
	margin: 10px 0;
	border: 1px solid #C9E0ED;
}
div.view-single
{
	background-color: #FCFDFF;
	padding: 10px;
	margin: 10px 10px;
	border: 1px solid #9ad7f5;
	width: 45%;
	float: left;
	-moz-border-radius: 5px;
	border-radius: 5px;
	display: block;
	z-index: 4;
	position: relative;
}
div.text-note
{
	font-size: 13px;
	line-height: 18px;
}
div.breadcrumbs
{
	font-size: 0.9em;
	padding: 5px 20px;
}

div.breadcrumbs span
{
	font-weight: bold;
}

div.search-form
{
	padding: 10px;
	margin: 10px 0;
	background: #eee;
}

.portlet
{

}

.portlet-decoration
{
	padding: 3px 8px;
	background: #B7D6E7;
	border-left: 5px solid #6FACCF;
}

.portlet-title
{
	font-size: 12px;
	font-weight: bold;
	padding: 0;
	margin: 0;
	color: #298dcd;
}

.portlet-content
{
	font-size:0.9em;
	margin: 0 0 15px 0;
	padding: 5px 8px;
	background:#EFFDFF;
}

.portlet-content ul
{
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
	margin: 0;
	padding: 0;
}

.portlet-content li
{
	padding: 2px 0 4px 0px;
}

.operations
{
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.operations li
{
	padding-bottom: 2px;
}

.operations li a
{
	font: bold 12px Arial;
	color: #0066A4;
	display: block;
	padding: 2px 0 2px 8px;
	line-height: 15px;
	text-decoration: none;
}

.operations li a:visited
{
	color: #0066A4;
}

.operations li a:hover
{
	background: #80CFFF;
}
ul.nav
{
	list-style-type: none;
	float: left;	
	 margin: 0;
    padding: 0;
}
li.nav
{
	display: inline;
    margin-left: 45px;
	list-style-type: none;
}
.nav a
{
	color: #333333;
    font-size: 16px;
    text-decoration: none;
}
.nav a:hover
{
	color: #33B5E5;
}


div.search
{
	margin-right: 5px;
    position: relative;
    top: -2px;
	float: right;
}
div.search-icon
{
	float: left;	
	background: url("search.png") no-repeat scroll 0 0 transparent;
    display: inline-block;
    height: 17px;
    margin-right: 10px;
    position: relative;
    top: 2px;
    width: 17px;
}
#search
{
	display: inline-block;
    width: 145px;
}
div.view-dialog-right
{
	float: left;
	z-index: 1;
	position: absolute;
	background: url("dialog-right.png") no-repeat;
	top: 10px;
	left: -9px;
	width: 19px;
	height: 15px;
}
div.view-dialog-left
{
	float: left;
	z-index: 1;
	position: absolute;
	background: url("dialog-left.png") no-repeat;
	top: 10px;
	right: -19px;
	width: 19px;
	height: 15px;
}